data/
week1/.ipynb_checkpoints/
week2/.ipynb_checkpoints/week2_multiTask_Bandit_final-checkpoint.ipynb
.ipynb_checkpoints/.gitignore-checkpoint
week2/trainDF.pkl
yahoo_data/data1.txt
yahoo_data/.data1.txt.swp
week3/.ipynb_checkpoints/week3_ann_user_representations_final-checkpoint.ipynb
week3/.ipynb_checkpoints/week3_ann_user_representations-checkpoint.ipynb
week4/.ipynb_checkpoints/week4_evaluation-checkpoint.ipynb
